 * {
  box-sizing: border-box;
  
}

h1 {
  text-align: center;
 
  
}

h2{
  background-color: rgb(255, 252, 69);
  position: relative;
  padding:5px;
  bottom: 19.2px;
  right: 0.6px;
  width: 200px;
  text-align: center;
 
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  
  float: right;
}

body {
  background-color: cyan;
}

.col{
  background-color: rgb(207, 98, 198);
  border:2px solid black;
  margin: 5px;
}

p{
 font-weight: bold;
  padding: 20px 10px;
  
}



@media (min-width: 992px) {
   .col-lg-4{
      width: 33.33%;
      float: left;
   }

}

@media  (max-width: 991px) and (min-width: 768px){
  .col-md-6{
    width: 50%;
    float: left;
  }
  
  .col-md-12{
        width: 100%;
        float: left;
  }
    
  }


@media (max-width: 767px) {
  .col-sm-12{
        width: 100%;
  }
}

