* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  background-color: coral;
  margin: 20px;
}

body {
  background-color: cyan;
}

.container {
  background-color: blueviolet;
}
.box {
  background-color: chartreuse;

  border: 2px solid black;
  height: 250px;
}

@media (min-width: 992px) {
  .box {
    width: 32.43%;
    margin-left: 10px;
    float: left;
  }
}

/* @media (max-width: 768px) and (min-width: 991px) {
  .box {
    width: 50%;
    margin-left: 10px;
    float: left;
  }

  #b3 {
    width: 100%;
  }
} */

@media (max-width: 600px) {
  .box {
    background-color: darkorchid;
    
  }
}